<%- include('templates/header') -%>
  <%- include('templates/sidebar') -%>
    <%- include('templates/navbar') -%>
      <%- include('templates/form') -%>
        <%- include('templates/scriptsForm') -%>
          <%- include("templates/footer") -%>