<%- include('templates/header') -%>
    <%- include('templates/sidebar') -%>
        <%- include('templates/navbar') -%>
            <div class="height-100 bg-light">
                <p><strong>Cars</strong> > List Cars</p>
                <div class="d-flex justify-content-between">
                    <h5><strong>List Cars</strong></h5>
                    <a href="/form" class="btn btn-primary ">+ Add New Car</a>
                </div>

                <div class="d-flex size">
                    <p class="size-item border border-primary p-2 m-1">All</p>
                    <p class="size-item border border-primary p-2 m-1">Small</p>
                    <p class="size-item border border-primary p-2 m-1">Medium</p>
                    <p class="size-item border border-primary p-2 m-1">Large</p>
                </div>

                <div class="row" id="list-cars">
                    <%- include("templates/scriptsList") -%>
                </div>
            </div>
            </div>
            <%- include("templates/footer") -%>