<div class="height-100 bg-light">
    <p><strong>Cars > List Cars > </strong> <%= title %></p>
    <h5><strong><%= title %></strong></h5>

    <div class="card m-3 ">
        <div class="card-body">
            <div class="form" onsubmit="save(event)">
                <form>
                    <div class="form-group row">
                      <label for="name" class="col-sm-4 col-form-label">Nama</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" placeholder="Nama" required="" value="<%= name %>">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="price" class="col-sm-4 col-form-label">Sewa Per hari</label>
                      <div class="col-sm-8">
                        <input type="number" class="form-control" id="price" placeholder="Sewa Per Hari" required="" value="<%= price%>">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="size" class="col-sm-4 col-form-label" value="<%= size_id%>">Ukuran</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="size">
                                <option value="1">Small</option>
                                <option value="2">Medium</option>
                                <option value="3">Large</option>
                            </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="photo" class="col-sm-4 col-form-label">Foto</label>
                        <div class="col-sm-8">
                          <input type="file" class="form-control" id="photo"  required="" value="<%= photo %>"> <br>
                          <span style="opacity: 20%;"><i>File Max 2Mb</i></span>
                        </div>
                      </div>
                    
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <a href="/" class="btn btn-outline-primary">Cancel</a> &nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                    </div>
                  </form>
               </div>
        </div>
      </div>