<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div> <a href="#" class="nav_logo"> <i class=''></i> <span class="nav_logo-name"> <img
                        src="/assets/img/logo.svg" alt="" class="logo"></span> </a>
            <div class="nav_list"> <a href="#" class="nav_link active"> <img src="/assets/img/dashboard.svg" alt="">
                    <span class="nav_name">Dashboard</span> </a>
                <a href="index.html" class="nav_link"> <img src="/assets/img/cars.svg" alt=""> <span
                        class="nav_name ">Cars</span></a>
            </div>
            <div class="input-group">
    </nav>
</div>