<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const api = axios.create({
        baseURL: 'http://localhost:8000'
    })
    let hasCar = false
    let name = document.getElementById("name")
    let price = document.getElementById("price")
    let size = document.getElementById("size")
    let photo = document.getElementById("photo")
    let uploadedUrl = ""

    function save(e) {
        e.preventDefault()

        if (!hasCar) {
            createCar()
        }
        else {
            updateCar()
        }
    }
    function createCar() {
        api.post("/api/v1/cars", {
            name: name.value,
            price: price.value,
            size_id: size.value,
            photo: uploadedUrl,
        }).then(() => {
            alert("Data Berhasil Ditambahkan")
            window.location.replace("/")
        }).catch(() => {
            alert("gagal membuat profile")
        })
    }

    function uploadFile(fileData) {
        console.log(fileData)
        let form = new FormData()
        form.append("photo", fileData)
        api.post("/api/v1/car_upload", form, {
            headers: {
                "Content-Type": "multipart/form-data"
            }
        }).then(res => {
            uploadedUrl = res.data.url
        }).catch(err => console.log(err))
    }

    function updateCar() {
        api.put("/api/v1/cars/:id", {
            name: name.value,
            price: price.value,
            size_id: parseInt(size.value),
            photo: uploadedUrl,
        }).then(result => {
            alert(result.data)
        }).catch(() => {
            alert("Gagal Memperbarui Data")
        })
    }

    photo.onchange = function (e) {
        uploadFile(e.target.files[0])
    }

</script>