<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const api = axios.create({
    baseURL: "http://localhost:8000",
  })

  let listcars = document.getElementById("list-cars")
  function loadData(data) {
    const car = data
    let listcar = ""

    for (let i in car) {
      listcar +=
        `
        <div class="card p-3 m-3" style="width: 20rem;">
          <img src="/assets/img/${car[i].photo}" height="200" width="290"> 
          <div class="card-body">
              <p><strong>${car[i].name}</strong></p>
                        <p><strong>${car[i].price.toLocaleString('id', { style: 'currency', currency: 'IDR' })}/ hari</strong></p>
                        <table>
                          <tr>
                            <td><span><img src="/assets/img/clock.svg"/></td>
                              <td>Updated at ${car[i].updatedAt}</span></td>
                          </tr>

                        </table>
              <div class="row">
                <a href="" onclick="deleteCar(${car[i].id})" type="button" class="btn btn-outline-danger btn-lg d-grid gap-2 col-5 mx-auto"> Delete</a>
                <a href="/form/${car[i].id}" type="button" class="btn btn-success btn-lg d-grid gap-2 col-5 mx-auto">Edit</a>
              </div>
            </div>
        </div>
      
        `
    }
    listcars.innerHTML = listcar;
  }

  function readProfile() {
    api.get("/api/v1/cars")
      .then(result => {
        hasProfile = true
        loadData(result.data)
      }).catch(() => {
        hasProfile = false
      })
  }

  function deleteCar(id) {
    if (confirm(`Apakah yakin ingin menghapus id ${id}`) == true) {
      api.delete(`/api/v1/cars/:${id}`)
    } else {
      api.get("/api/v1/cars")
    }
  }
  readProfile()
</script>