<header class="header" id="header">
  <div class="header_toggle"><i class="bx bx-menu" id="header-toggle"></i></div>
  <div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">search</button>
    <span>
      <img src="/assets/img/icon2.svg" alt="" class="gambar" />
      <strong>M. Rizky Suherlan</strong>
      <img src="/assets/img/icon.svg" alt="" />
    </span>
  </div>
</header>